*.tsv.gz
*.fastq.gz
*.DS_Store
.Rproj.user

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp
*.rdat
*.rdata

# Reference Databases
*/databases/sepp-refs-silva-128.qza
*/databases/silva-138-99-515-806-nb-classifier.qza

# snakemake files
.snakemake

# inkscape files
*.svg
